body {
  background: black;
  color: white;
  font-family: "Open Sans", Arial, sans-serif;
  text-align: justify;
}

.border {
  border: 2px dashed #00ffaa;
}

a {
  text-decoration: none;
}

.visual {
  display: flex;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.visual-item {
  height: 95vh;
  width: 85vw;
}

#scene {
  margin-left: 1vw;
}

#event-metadata {
  background-image: url("images/metadata.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-animation: fade-in 0.5s ease-in 1.55s forwards;
  animation: fade-in 0.5s ease-in 1.55s forwards;
}

#event-legend {
  background-image: url("images/legend.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-animation: fade-in 0.5s ease-in 1.55s forwards;
  animation: fade-in 0.5s ease-in 1.55s forwards;
}

.proton {
  display: inline-block;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  height: 10px;
  width: 10px;
}

#proton-left {
  bottom: 23%;
  left: 15%;
  -webkit-animation: from-left 0.72s ease-in forwards, fade-out 0.2s ease-out 0.6s forwards;
  animation: from-left 0.72s ease-in forwards, fade-out 0.2s ease-out 0.6s forwards;
}

#proton-right {
  top: 12.6%;
  left: 76%;
  -webkit-animation: from-right 0.72s ease-in forwards, fade-out 0.2s ease-out 0.6s forwards;
  animation: from-right 0.72s ease-in forwards, fade-out 0.2s ease-out 0.6s forwards;
}

#event-display {
  background-image: url("images/display.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-animation: fade-in 0.5s ease-in 0.45s forwards;
  animation: fade-in 0.5s ease-in 0.45s forwards;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 1vw;
  float: right;
  height: 70vh;
  width: 33vw;
  opacity: 0;
  -webkit-animation: fade-in 0.5s ease-in 1.5s forwards;
  animation: fade-in 0.5s ease-in 1.5s forwards;
}

.sb-section {
  margin: 1% 0;
  padding: 1% 0;
  width: 95%;
}

.sb-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sb-button {
  border-radius: 20px;
  color: white;
  text-align: center;
  margin: 0 0 0.5em;
  padding: 0.2em 0.2em;
  width: 50%;
  z-index: 0;
  cursor: pointer;
  transition: all 0.33s;
}

.sb-button:focus, .sb-button:hover {
  background-color: rgba(255, 255, 255, 0.15);
  width: 60%;
}

#about {
  text-align: justify;
}

.footer {
  font-size: 10pt;
  text-align: right;
  margin: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
}


@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes from-left {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(51vw, -59vh);
  }
}

@keyframes from-left {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(51vw, -59vh);
  }
}

@-webkit-keyframes from-right {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-51vw, 59vh);
  }
}

@keyframes from-right {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(-51vw, 59vh);
  }
}


@media screen and (max-width: 767px) {
  .visual {
    flex-direction: column;
  }

  .visual-item {
    height: 67vh;
    width: 95vw;
  }

  #proton-left {
    bottom: 29%;
    left: 10%;
  }
  
  #proton-right {
    top: 21%;
    left: 80%;
  }

  .sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    bottom: 5%;
    margin-right: initial;
    float: initial;
    height: 33vh;
    width: 95vw;
  }

  .sb-links {
    flex-direction: row;
  }

  .sb-button:focus, .sb-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
    width: 50%;
  }

  .footer {
    font-size: 8pt;
  }

  @-webkit-keyframes from-left {
    from {
      transform: translate(0px, 0px);
    }
  
    to {
      transform: translate(70vw, -34vh);
    }
  }
  
  @keyframes from-left {
    from {
      transform: translate(0px, 0px);
    }
  
    to {
      transform: translate(70vw, -34vh);
    }
  }

  @-webkit-keyframes from-right {
    from {
      transform: translate(0px, 0px);
    }
  
    to {
      transform: translate(-70vw, 34vh);
    }
  }
  
  @keyframes from-right {
    from {
      transform: translate(0px, 0px);
    }
  
    to {
      transform: translate(-70vw, 34vh);
    }
  }

}
